* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    margin: 0;
    padding-top: 60px;
    color: #f2f2f2;
    background-color: #0d0d0d;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Nav Bar Styles */
nav {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    padding: 10px 20px;
    border-radius: 6px;
    align-items: center;
    background-color: #0f1b27;
    justify-content: space-between;
    overflow: hidden; /* Ensure no overflow */
}

nav .logo h3 {
    margin: 0; /* Remove default margin from h3 */
    color: #f2f2f2;
}

nav .menu-icon {
    display: none;
    font-size: 24px;
    color: #f2f2f2;
    cursor: pointer;
}

nav div {
    display: flex;
    align-items: center;
}

a {
    padding: 10px 15px;
    font-size: large;
    color: #f2f2f2;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #bfafaf; /* Medium gray for hover background */
    color: #0d0d0d; /* Dark color for hover text */
}

.selected {
    background-color: #bfafaf; /* Medium gray for selected background */
    color: #0d0d0d; /* Dark color for selected text */
}
