body {
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: Arial;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0f1b27;
}

nav.bar {
    margin: 0;
    gap: 20px;
    padding: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.logo {
    padding: 5px 20px;
}

.logo img {
    width: 200px;
    height: 37px;
}

a {
    color: #009fc2;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.1rem; 
}

a.selected {
    border-radius: 15px;
    text-decoration: underline;
    color: white;
}

a:hover {
    color: white;
}

h2.header {
    height: 250px;
    width: 450px;
    color: white;
    padding: 10px 30px;
    text-align: left;
}

p.content {
    color: #009fc2;
    padding: 5px 20px;
}