* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    margin: 0;
    padding-top: 60px;
    color: #f2f2f2;
    background-color: #0d0d0d;
}

/* Nav Bar Styles */
nav {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    padding: 10px 20px;
    border-radius: 6px;
    align-items: center;
    background-color: #0f1b27;
    justify-content: space-between;
}

a {
    padding: 15px;
    font-size: large;
    color: #f2f2f2;
    font-weight: bold;
    text-decoration: none;
}

/* Header Styles */
h1, h2, h3 {
    color: #f2f2f2;
}

/* Content Styles*/
p {
    color: #d9d9d9;
}